@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif;
}

/** Utility class starts from here**/

h1 {
    color: #072F53;
    font-size: 2rem;
}

span {
    color: #072F53;
    background-color: #FBC108;
    padding: 15px;
    border-radius: 0 80px 80px 80px;
    font-size: 20px;
    font-weight: 700;
}
  p {
    color: #ffffff;
    font-size: 1.5rem;
    width: 50vw;
    letter-spacing: 0.5px;
    word-spacing: 1.5px;
    padding-bottom: 45px;
    line-height: 39px;
}

 .course-boxes button {
    color: #072F53;
    font-size: 1rem;
    background-color: lightgray;
    font-weight: 700;
    border: none;
    padding: 2px;
    margin: 2px;
    margin-top: 10px;
}
.box1 {
    width: 300px;
    height: 370px;
    border-radius: 10px;
    border: 1px solid #6d736d;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
}

.box2 {
    width: 560px;
   height: 280px;
    border: 1px solid #6d736d;
    border-radius: 12px;
    padding: 15px;
    background-color: white;
    position: relative;
}

.aside {
    background-color: #ffffff;
    width: 120vw;
    height: 470px;
    border: 1px solid #6d736d;
    border-radius: 8px;
    padding: 12px;
    color: #363A3D;
    font-size: 19px;
    position: relative;
    right: 55px;
    top: 35px;
}

footer {
    height: 28vh;
    background-color: #FFFAF5;
    text-align: center;
    padding-top: 25px;
}

footer img {
    width: 20vw;
    padding-top: 25px;
}

.box1 img {
    width: 270px;
    height: 260px;
}
nav {
    height: 9vh;
    background-color: white;
}
.header1 a {
    color: white;
    font-size: 15px;
    text-decoration: none;

}
.header {
    display: flex;
}
.hero-section h2 {
    color: #ffffff;
    font-size: 2.3rem;
    width: 60vw;
    letter-spacing: 0.5px;
   padding-top: 40px;
    font-weight: 500;
}
.teachers-sec h3 {
    color: #1B1D1F;
    font-size: 1.3rem;
    padding-top: 7px;
    padding-bottom: 5px;
    margin-top: 10px;
}

.teachers-sec h4 {
    color: #6D737A;
    font-size: 16px;
    padding-top: 3px;
}

.courses-sec h6 {
     color: #6D737A;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 400;
}
.about-sec h6{
     color: #6D737A;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 400;
}
/** Utility class ends here**/


/** header starts from here **/
.header1 {
    display: flex;
    background-color: #072F53;
    height: 9vh;
    width: 100%;
    gap: 10px;
    align-items: center;

}
.header1 img {
    margin-left: 30px;
}

.header1 .phone-img img {
    margin-left: 65px;
}

/** navbar starts here**/

.navbar{
    height: 14vh ;
   
}
.collapse {
      background-color: white;
}

.navbar-expand-lg .navbar-nav {
        display: flex;
        flex-direction: row;
        width: 80%;
        justify-content: center; 
    }

    .logo{
      margin-left: 50px;
    }
    
    .whatapp a{
      color: black;
      border: 1px solid black;
      border-radius: 10px 0px;
      padding: 6px;
      background-color: gainsboro;
      text-decoration: none;
      border: none;
      font-size: 14px;

    }
  .navbar-nav a {
    color: #6d736d;
    font-size: 16px;
    margin-left: 20px;
    font-weight: 400;
    }   
    

/** hero-section starts here **/
.hero-section {
    background-image: url('/asset/images/pngtree-multiethnic-startup-business-team-in-night-office-students-coffee-training-photo-image_42349274.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
}
.contact {
    border-radius: 80px;
    border: 0.2px solid white;
}
.hero-section-cont .yellow-line {
    padding-left: 400px;
    padding-top: 2px;
    padding-bottom: 40px;
}

.hero-section-cont {
    padding: 100px 0 60px 65px;
    
}

/** courses-sec starts from here**/

.yellow-line-img {
    padding-bottom: 20px;
}
.courses-sec {
    background-color: #FFFAF5;
    height: 650px;
}

.courses-slider a {
    border-radius: 80px;
    text-align: center;
    font-size: 1rem;
    color: #072F53;
    font-weight: 700;
    background-color: #FBC108;
    padding: 8px;
    text-decoration: none;
    margin-top: 30px;
    
}

.courses-slider {
    width: 100%;
    height: 400px;
}

.slick-slide {
    color: #fff;
    padding: 10px 0px;
}

.course-boxes {
    width: 300px;
    height: 370px;
    border: 0.5px solid gray;
    border-radius: 10px; 
    padding: 5px;
    background-color: white;
}
.courses-slider{
    width: 100%;
}
.courses-slider .course-boxes img{
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}
.courses-sec-content {
    margin-inline: 65px;
    padding-top: 40px;
}
.courses-sec-content .yellow-line-img {
    padding-left: 70px;
}
.course-boxes button {
    background-color: gainsboro;
    color: #072F53;
    font-size: 15px;
    margin-top: 15px;
   
}
.course-boxes h5{
     color: #212832;
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 300;
    margin-top: 10px;
}

/** about starts here **/

.about-sec {
    background-color: #ffffff;
    height: 120vh;
    width: 100%;
}

.about-sec-content {
    margin-inline: 60px;
    padding-top: 40px;
}
.about-sec-container {
    display: flex;
}
.about-sec img {
    width: 47%;
}

.about-sec h1 img {
    width: 15vw;
}

.about-sec-content .yellow-line-img {
    width: 15vw;
}

/** teachers-sec starts here**/

.teachers-sec {
    height: 620px;
    background-color: #FFFAF5;
}

.teachers-sec-content {
    margin-inline: 60px;
    padding-top: 40px; 
}
.teachers-sec-boxes {
    display: flex;
    gap: 30px;
}
.teachers-sec-content .yellow-line-img {
    padding-left: 120px;
}
 .teachers-sec h6 {
    color: #6D737A;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 400;
}
/** feedback-sec starts here**/

.feedback-sec {
    background-color:#F9F9F9;
    height: 500px;
    width: 100%;
    position: relative;
}
.feedback-sec-content {
    margin-inline: 60px;
    padding-top: 40px;
}
.feedback-sec-content .yellow-line-img {
    padding-left: 140px;
    padding-bottom: 25px;
}

.feedback-sec-con {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}
.sec4-para {
    margin-top: 20px;
    font-size: 16px;
    color: #6d736d;
}
.box-content h5{
     font-size: 15px;
     color: black;
}
.box-content h3{
    font-size: 25px;
    color: black;
    font-weight: 700;
}
.feedback-sec-con .vector-img {
    position: absolute;
    right: 13px;
    top: 9px;
    width: 40px;
    height: 20px;
}
.feedback-slider{
    width: 100%;
    height: 300px;
}

.slick-slide {
    color: #fff;
    padding: 20px 20px;
    margin-right: 20px;
}

/**contact-sec from starts here**/

.contact-sec {
    height: 600px;
    width: 100%;
    background-color: #E9F8F3B2;
}

.contact-sec-heading {
    padding-top: 40px;
    margin-inline: 60px;
}

.img-border-container {
    display: flex;
    margin-top: 30px;
    margin-left: 40px;
    padding-bottom: 200px;
}

.img-table-container {
    display: flex;
    gap: 40px;
}

.contact-sec .border-image img {
    width: 42vw;
    height: 52vh;
    border-radius: 59px;
    position: relative;
    right: 25px;
    top: 20px;
}

.img-border {
    border: 0.5px solid #1A906B;
    width: 42vw;
    height: 52vh;
    border-radius: 59px;
    position: absolute;
}

.contact-sec .star {
    width: 42px;
    height: 48px;
    position: relative;
    right: 608px;
    top: 25px;
}

.contact-sec .check {
    width: 10vw;
    height: 12vh;
    position: relative;
    left: 480px;
    bottom: 26px;
}

.contact-sec .dot {
    width: 4vw;
    height: 8vh;
    position: relative;
    left: 400px;
    top: 240px;
}

/** contact-sec img content end here**/

.form-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.form-input{
    width: 45%;
    border-bottom: .5px solid #212832;
    padding-top: 20px;

}
.form-input input{
    background-color: #E9F8F3B2;
    border: none;
    font-size: 18px;
    font-weight: 400;
     color: #212832;
}
.form-input select{
    background-color: #E9F8F3B2;
    border: none;
    font-size: 20px;
    font-weight: 400;
     color: #212832;
}
.text-message input{
    background-color: #E9F8F3B2;
     font-size: 20px; 
     border: none;
      border-bottom: .5px solid #212832; 
      width: 530px;
       padding-top: 20px;     
}
.form-content {
    margin-top: -100px;
}
.contact-sec .submit-button {
    border: 1px solid black;
    border-radius: 20px;
    padding: 7px;
    width: 9vw;
    margin-top: 60px;
    background-color: #E9F8F3B2;;
}
.footer-nav {
    height: 7vh;
    background-color: #212832;
    text-align: center;
    padding-top: 15px;
}